.container {
    padding: 30px;
}
.span {
    background-color: #7bcff7;
}

.table-responsive {
    padding: 30px;
}

.tableStyle {
    background-color: #3e3e3e;
    color:white;
}

.contentTable {
    background-color: #FEBA0B ;
    color: #ed4d2f;
}


